@model SpartanClash.ViewModels.Leaderboard
@{
    ViewBag.Title = "LeaderboardsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><u>Leaderboards</u></h1>

@foreach (SpartanClash.ViewModels.Leaderboardtem item in Model.leaderboardItems)
{

    {
        <div class="leaderboardItem">
            <span class="rank">@item.rank</span>
            <span class="companyName">@Html.ActionLink(item.companyName, "CompanyResults/" + item.companyName, "ServiceRecord")</span>
            <span class="winPercent">@item.winPercent</span>
            <span class="winsAndLosses">W/L: @item.wins - @item.losses</span>
        </div>
        
        <p></p>
    }
}

    